/* base colors */
$main-color: #fff;
$darkColor: #000;

/* z-indexes */
$base-index: 1;
$content-index: 2;
$modal-background-index: 3;
$modal-index: 4;
$alert-index: 5;


@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexCenter {
  @include flex();
  justify-content: center;
}

@mixin flexCenterColumn {
  @include flexColumn();
  align-items: center;
}


@mixin coverBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@mixin font(
  $size,
  $weight: 400,
  $line-height: 1.1em,
  $color: $darkColor,
  $family: 'Victor Mono'
) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  font-family: $family;
}

@mixin baseButton(
  $height: 32px,
  $width: 100%,
) {
  height: $height;
  width: $width;
  border: none;
  border-radius: 10px;
}

@mixin userSelect(
  $type
) {
  user-select: $type;
  -moz-user-select: $type;
  -webkit-user-select: $type;
  -ms-user-select: $type;
}

.baseInputComponent {
  @include flexCenter();
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--dark);
  margin-bottom: 14px;
}

.baseInputComponent > input {
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1rem;
}

.baseInputComponent > img {
  user-select: none;
}

.baseInputComponent > input::placeholder {
  font-size: 1rem;
  color: var(--dark);
}

.baseInputComponent > input:focus {
  outline: none;
  border: none;
}

.baseButton {
  @include baseButton(48px);
  @include font(1rem);
  background-color: var(--dark);
  color: var(--light);
}


@media (max-width: 770px) {
  .baseButton {
    @include baseButton(40px);
    font-size: 0.90rem;
  }

  .baseInputComponent {
    padding: 6px;
  }

  .baseInputComponent > input {
    font-size: 0.90rem;
  }

  .baseInputComponent > input::placeholder {
    font-size: 0.90rem;
  }
}