@import './base.module.scss';


.loginFormComponent {
  display: grid;
  align-content: center;
}

.loginForm {
  @include font(1rem);
  display: grid;
  justify-items: center;
  max-width: 400px;
  width: 100%;
  margin: auto;
}

.loginLay {
  width: 100dvw;
  height: 100dvh;
  display: grid;
}

.loginTitle {
  @include font(1.7rem, 700);
}

.loginSubTitle {
  margin-bottom: 20px;
}

.authInputError {
  color: red;
  font-size: 0.7rem;
  justify-self: start;
  margin-left: 20px;
}

@media (max-width: 770px) {
  .loginForm {
    width: 94%;
  }
}